:root {
  --bg-color: #F3F3E3;
  --white: #FFFFFF;
  --black: #111827;
  --gray: #E5E7EB;
  --light-gray: #D1D5DB;
  --dark-gray: #6B7280;
  --orange: #FC6C4C;
  --orange-hover: #f36748;
  --orange-active: #df6043;
  --orange-shadow: #F4EDD6;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.multi-step-form-box {
  background-color: var(--white);
  padding: 60px;
  border-radius: 12px;
}

.multi-step-form-steps {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  border-bottom: 2px solid var(--gray);
  padding-bottom: 30px;
}

.multi-step-form-steps .step {
  background-color: var(--gray);
  padding: 10px 15px;
  border-radius: 50%;
  font-weight: 600;
  color: var(--black);
}

.multi-step-form-steps .step-active {
  background-color: var(--orange);
  color: var(--white);
}

.step-bar {
  background-color: var(--gray);
  padding: 4px 10px;
  border-radius: 20px;
  width: 80px;
  margin-left: 15px;
  margin-right: 15px;
}

.multi-step-form-title {
  text-align: center;
  margin-bottom: 20px;
}

.multi-step-form-title h1 {
  font-weight: 700;
}

.multi-step-form-text {
  width: 100%;
  max-width: 550px;
  margin: 0 auto;
  text-align: center;
}

.multi-step-form-text p {
  font-size: 1.2rem;
  font-weight: 500;
}

.multi-step-form-steps {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.multi-step-form-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 0px;
}

.personal-info-form {
  padding-bottom: 30px;
}

.personal-info-form-text h2 {
  margin-bottom: 0px;
}

.personal-info-form-text p {
  color: var(--dark-gray);
}

.form-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form-row label {
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 10px;
}

.form-row input {
  color: var(--black);
  padding: 9px 5px;
  width: 230px;
  border-radius: 7px;
  border: 1px solid var(--light-gray);
  cursor: pointer;
}

.form-row input::placeholder {
  font-family: "Manrope", sans-serif;
  color: var(--light-gray);
  font-weight: 600;
}

.form-row input:focus {
  outline-color: var(--orange);
}

.form-fullname {
  display: flex;
  flex-direction: column;
}

.form-email {
  display: flex;
  flex-direction: column;
}

.form-phone-number {
  display: flex;
  flex-direction: column;
}

.form-portfolio-link {
  display: flex;
  flex-direction: column;
}

.skill-level-form {
  padding-bottom: 30px;
}

.skill-level-form-text {
  display: flex;
  flex-direction: column;
}

.skill-level-form-text h2 {
  margin-bottom: 0px;
}

.skill-level-form-text p {
  color: var(--dark-gray);
}

.beginner-skill {
  border: 2px solid var(--gray);
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 107px;
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.beginner-skill:hover {
  border-color: var(--orange);
}

.intermediate-skill {
  border: 2px solid var(--gray);
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 100px;
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.intermediate-skill:hover {
  border-color: var(--orange);
}

.advanced-skill {
  border: 2px solid var(--gray);
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 100px;
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.advanced-skill:hover {
  border-color: var(--orange);
}

.expert-skill {
  border: 2px solid var(--gray);
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 148px;
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.expert-skill:hover {
  border-color: var(--orange);
}

.skill-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill-icon i {
  color: var(--white);
  padding: 10px;
  background-color: var(--orange);
  border-radius: 50%;
}

.skill-text {
  font-weight: 600;
}

.challenge-preference-form-text {
  display: flex;
  flex-direction: column;
}

.challenge-preference-form-text h2 {
  margin-bottom: 0px;
}

.challenge-preference-form-text p {
  color: var(--dark-gray);
}

.preference-radio input[type=radio] {
  width: 15px;
}

.preference-radio input[type=radio]:checked {
  background-color: var(--orange);
}

.preference-text p {
  font-weight: 600;
  cursor: pointer;
}

.html-css-js-preference {
  display: flex;
  align-items: center;
  border: 2px solid var(--gray);
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 100px;
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.html-css-js-preference:hover {
  border-color: var(--orange);
}

.react-preference {
  display: flex;
  align-items: center;
  border: 2px solid var(--gray);
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 12px;
  padding-right: 116px;
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.react-preference:hover {
  border-color: var(--orange);
}

.angular-preference {
  display: flex;
  align-items: center;
  border: 2px solid var(--gray);
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 133px;
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.angular-preference:hover {
  border-color: var(--orange);
}

.vue-preference {
  display: flex;
  align-items: center;
  border: 2px solid var(--gray);
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 130px;
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.vue-preference:hover {
  border-color: var(--orange);
}

.multi-form-buttons {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid var(--gray);
  padding-top: 30px;
}

#nextBtn {
  font-weight: 600;
  font-family: "Manrope", sans-serif;
  color: var(--white);
  background-color: var(--orange);
  padding: 9px 25px;
  border: 1px solid var(--orange);
  border-radius: 9px;
  cursor: pointer;
  margin-bottom: 0px;
  transition: 0.2s ease-in-out;
}

#nextBtn:hover {
  background-color: #f36748;
}

#nextBtn:active {
  background-color: #df6043;
}

#backBtn {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  color: var(--orange);
  background-color: var(--white);
  padding: 9px 25px;
  border: 1px solid var(--orange);
  border-radius: 9px;
  cursor: pointer;
  margin-bottom: 0px;
  transition: 0.1s ease-in-out;
}

#backBtn:hover {
  color: var(--white);
  background-color: var(--orange);
}

#backBtn:active {
  background-color: var(--orange-active);
}